/* base classes */
.d-inline-block{
    display: inline-block;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
 /* base classes end */
 /* header styles */
 .header-section{
     margin-top: 30px;
     margin-left: 30px;
 }
.logo {
    vertical-align: middle;
}
.navbar{
    margin-left: 50px;
    font-family: 'BPG Nino Medium';
    font-weight: bold;
    font-style: italic;
}
.nav-a{
    padding-right: 30px;
    font-size: 22px;
    color: #3D58A6;
}
.active{
    padding-right: 18px;
    color: #EE4036;
}
 /* header styles end  */
/* banner section  */
.banner-section{
    margin-top: 77px;
    margin-left: 98px;
}
.banner-wrapper{
    position: relative;
}
.title-ul{
    position: absolute;
    top: 24px;
    left: 40px;
    font-size: 30px;
    font-family: 'BPG Nino Medium';
    font-style: oblique;
    color: #fff;
}

/* banner section end  */