/* base classes */
.d-inline-block{
    display: inline-block;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
 /* base classes end */
 /* header styles */
 .header-section{
     margin-top: 30px;
     margin-left: 30px;
 }
.logo {
    vertical-align: middle;
}
.navbar{
    margin-left: 50px;
    font-family: 'BPG Nino Medium';
    font-weight: bold;
    font-style: italic;
}
.nav-a{
    padding-right: 30px;
    font-size: 22px;
    color: #3D58A6;
}
.active{
    padding-right: 18px;
    color: #EE4036;
}
 /* header styles end  */
/* banner section  */
.banner-section{
    margin-top: 77px;
    margin-left: 98px;
    margin-bottom: 118px;
}
.banner-wrapper{
    position: relative;
}
.title-ul{
    position: absolute;
    top: 24px;
    left: 40px;
    font-size: 30px;
    font-family: 'BPG Nino Medium';
    font-style: oblique;
    color: #fff;
}
/* banner section end  */
/* text block section  */
.text-block{
    margin-left: 98px;
}
.left-box {
    background-color: #F2F2F2;
    width: 570px;
    vertical-align: top;
    margin-right: 29px;
}
.box-title{
    font-size: 24px;
    font-family: "roboto";
    margin-bottom: 30px;
}
.box-titile-h4{
    font-size: 22px;
    font-family: "roboto";
    color: #3D58A6;
    margin-top: 11px;
    margin-left: 20px;
}
.box-img{
    margin-top: 13px;
    margin-left: 38px;
    margin-right: 60px;
    margin-bottom: 40px;
}
.box-p{
    width: 355px;
    vertical-align: top;
    padding-top: 10px;
    font-family: "roboto";
    font-size: 22px;
    color: #333333;
}
.right-block{
    width: 570px;
    background-color:#F2F2F2;

}
.right-box-title{
    font-size: 22px;
    font-family: "roboto";
    color: #3D58A6;
    margin-top: 11px;
    margin-left: 17px;
}
.right-block-img{
    margin-top: 21px;
    margin-left: 63px;
    margin-right: 52px;
    margin-bottom: 36px;
    vertical-align: top;
}
.right-block-p{
    width: 353px;
    font-size: 20px;
    font-family: "roboto";
    color: #58595B;
    margin-top: 18px;
}
/* text block section end  */
/* footer section  */
.footer-section{
    margin-top: 70px;
    margin-left: 110px;
    margin-bottom: 40px;
}
.footer-wrapper::after{
    content: "";
    width: 2px;
    height: 27px;
    background-color: #363E97;
    display: inline-block;
    margin: 0 35px;
}
/* footer section end  */
/* news page  */
.news-section{
    margin-top: 40px;
    margin-left: 30px;
}
.number-box{
    width: 52px;
    height: 64px;
    background-color: #3D58A6;
    
}
.box-number{
    font-size: 48px;
    color: #fff;
    font-family: 'BPG Nino Medium';
    padding-left: 5px;
    padding-top: 5px;
}
.number-box-1{
    color: #3D58A6;
    font-size: 22px;
    font-family: 'BPG Nino Medium';
    font-weight: bold;
}
.news-page-title{
    font-size: 20px;
    font-family: 'BPG Nino Medium';
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
}
.news-box-img{
    vertical-align: top;
    margin-right: 40px;
}
.news-box-p{
    font-family: 'BPG Nino Medium';
    font-size: 16px;
    font-style: italic;
    text-indent: 40px;
    width: 930px;
    padding-bottom: 23px;
    font-weight: bold;
}
/* news page end  */
/* contact-page  */
.nav-a{
    font-family: 'BPG Nino Medium';
    font-size: 20px;
}
.map-wrapper{
    margin-bottom: 25px;
}
.map-section{
    background-color:#E6E6E6 ;
    
}
.h3-map-title{
    color: #3D58A6;
    font-size: 20px;
    font-family: "Arial GEO Bold", sans-serif;
}
.left-box-1{
    margin-top: 51px;
    margin-left: 98px;
    background-color: #E6E6E6; 
     width: 261px;
     vertical-align: top;
    display: inline-block;
    
}
.adres-title{
    color: #808080;
    font-family: "Arial GEO Bold", sans-serif;
}
.adres-li{
    color:#000000 ;
    font-family: "Arial GEO Bold", sans-serif;
}
.right-box-2{
    margin-top: 51px;
    margin-right:90px;
    margin-bottom: 50px;
    margin-left: 43px;
    display: inline-block;
}
/* contact-page end */