/* base classes */
.d-inline-block{
    display: inline-block;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
 /* base classes end */
 /* header styles */
 .header-section{
     margin-top: 30px;
     margin-left: 30px;
 }
.logo {
    vertical-align: middle;
}
.navbar{
    margin-left: 50px;
    font-family: 'BPG Nino Medium';
    font-weight: bold;
    font-style: italic;
}
.nav-a{
    padding-right: 30px;
    font-size: 22px;
    color: #3D58A6;
}
.active{
    padding-right: 18px;
    color: #EE4036;
}
 /* header styles end  */
/* banner section  */
.banner-section{
    margin-top: 77px;
    margin-left: 98px;
    margin-bottom: 118px;
}
.banner-wrapper{
    position: relative;
}
.title-ul{
    position: absolute;
    top: 24px;
    left: 40px;
    font-size: 30px;
    font-family: 'BPG Nino Medium';
    font-style: oblique;
    color: #fff;
}
/* banner section end  */
/* text block section  */
.text-block{
    margin-left: 98px;
}
.left-box {
    background-color: #F2F2F2;
    width: 570px;
    vertical-align: top;
    margin-right: 29px;
}
.box-title{
    font-size: 24px;
    font-family: "roboto";
    margin-bottom: 30px;
}
.box-titile-h4{
    font-size: 22px;
    font-family: "roboto";
    color: #3D58A6;
    margin-top: 11px;
    margin-left: 20px;
}
.box-img{
    margin-top: 13px;
    margin-left: 38px;
    margin-right: 60px;
    margin-bottom: 40px;
}
.box-p{
    width: 355px;
    vertical-align: top;
    padding-top: 10px;
    font-family: "roboto";
    font-size: 22px;
    color: #333333;
}
.right-block{
    width: 570px;
    background-color:#F2F2F2;

}
.right-box-title{
    font-size: 22px;
    font-family: "roboto";
    color: #3D58A6;
    margin-top: 11px;
    margin-left: 17px;
}
.right-block-img{
    margin-top: 21px;
    margin-left: 63px;
    margin-right: 52px;
    margin-bottom: 36px;
    vertical-align: top;
}
.right-block-p{
    width: 353px;
    font-size: 20px;
    font-family: "roboto";
    color: #58595B;
    margin-top: 18px;
}
/* text block section end  */
/* footer section  */


/* footer section end  */
